<link rel="stylesheet" href="{{asset('web/css/footer-style.css')}}">

<div class="row align-items-center footer-div justify-content-around" id="footer-ancre">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 newsletter-div"> <!-- Newsletter-div -->
        <h2>Inscrivez-vous à notre Newsletter</h2>
        <p>Ne manquez plus les informations en avant-première !</p>

        {% for message in app.flashes('notice_success') %} <!-- Affichage des messages de succès et d'échec -->
            <p class="alert-link">{{ message }}</p>
        {% endfor %}

        {% for message in app.flashes('notice_fail') %}
            <p class="alert-link">{{ message }}</p>
        {% endfor %} <!-- fin de l'affichage des messages de succès et d'échec -->

        <form action="{{path('newsletter.subscribe')}}" method="post" class="d-flex justify-content-center flex-wrap"> <!-- Formulaire d'inscription à la Newsletter -->
            <input type="email" name="email" id="newsletter-email" placeholder="Votre email..."> 
            <input type="text" name="last-route" value="{{app.request.attributes.get('_route')}}" hidden>
            <button type="submit" id="newsletter-submit" class="mx-auto">S'inscrire</button>
        </form> <!-- Fin du formulaire d'inscription à la Newsletter -->

        <div class="payment-why d-flex row justify-content-between flex-nowrap">
            <div>
                <img src="{{asset('web/img/footer/poste.svg')}}" alt="Payement par La Poste accepté">
            </div>
            <div class="d-flex justify-content-around">
                <img class="mr-3" src="{{asset('web/img/footer/visa.svg')}}" alt="Payement par VISAaccepté">
                <img class="mr-3" src="{{asset('web/img/footer/master.svg')}}" alt="Payement par MasterCard accepté">
            </div>
        </div>
    </div> <!-- fin Newsletter-div -->

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 footer-menu"> <!-- Menu footer -->
        <p class="footer-menu-title">informations</p>
        <ul>
            <li class="footer-list" ><a class="footer-link" href="#">Protection des données</a></li>
            <li class="footer-list" ><a class="footer-link" href="#">Conditions générales</a></li>
            <li class="footer-list" ><a class="footer-link" href="#">Mentions légales</a></li>
            <li class="footer-list" ><a class="footer-link" href="#">Avis de rétractation</a></li>
            <li class="footer-list" ><a class="footer-link" href="#">Images fournies par</a></li>
            <li class="footer-list" ><a class="footer-link" href="#">Informations consommateurs</a></li>
            <li class="footer-list" ><a class="footer-link" href="#">Livraison et paiement</a></li>
            <li class="footer-list" ><a class="footer-link" href="#">Garantie satisfait ou remboursé</a></li>
        </ul>
    </div>  <!-- fin Menu footer -->

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 justify-content-center information-div"> <!-- information-div -->
        <h3>#BonBeauBien</h3>
        <p>Le vernis des femmes qui s’engagent</p>
        <div class="contact-container row justify-content-between">
            <div class="contact">
                <p>info@bonbeaubien.com</p>
                <p>+33 000000000</p>
            </div>
            <div class="contact">
                <p>204 Rue Saint Martin</p>
                <p>75003 Paris, France</p>
            </div>
        </div>
        <a class="text-center bbb-remember-me bbb-signup-link " href="{{path('shop.show.messageme')}}">Cliquez ici pour nous contacter.</a>
        <div class="row social-network">
            <img src="{{asset('web/img/footer/fb.svg')}}" alt="Page Facebook de NailProject">
            <img src="{{asset('web/img/footer/instagram.svg')}}" alt="Profil Instagram de NailProject">
            <img src="{{asset('web/img/footer/feed.svg')}}" alt="Flux RSS">
        </div> <!-- fin information-div -->

        <p class="copyright">© 2019 #BonBeauBien. Mode by TECH5</p>
    </div>

</div>

