<nav class="row container-fluid justify-content-between align-items-center main-menu">
    <link rel="stylesheet" href="{{asset('web/css/mainMenu-style.css')}}"> 


    <a class="menu-logo" href="{{path('shop.home.index')}}">
        <img src="{{asset('web/img/menu/logo.png')}}" alt="Logo BBB">
    </a>

    <ul class="navbar">
        {% for element in menu  %}
            <li class="nav-item menu-item">
                <a class="nav-link {{ app.request.get('routeName') == element.route ? 'active' }}"
                href="{{path(element.route)}}"
                >{{element.label}}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="column user-link user-box">
        <a class="nav-link burger" hidden><img class="burger-btn" src="{{asset('web/img/menu/burger-opened.svg')}}"  alt="Boutton d'ouverture du menu"></a>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="row justify-content-between user-item" href="{{path('user_panel')}}">
                    <p  class="mt-auto mb-auto user-text">Mon compte</p> 
                    <img src="{{ asset('web/img/menu/user.svg') }}" alt="Espace membre">                   
                </a>
        {% else %}
                <a class="row justify-content-between user-item btn-pop-up" href="#">
                    <p  class="mt-auto mb-auto user-text">Se connecter</p> 
                    <img src="{{ asset('web/img/menu/user.svg') }}" alt="Espace membre">
                </a>
        {% endif %}
        <a class="row justify-content-between user-item" href="#">
            <p class="mt-auto mb-auto user-text">Mon panier</p>
            <img src="{{ asset('web/img/menu/cart.svg') }}" alt="Panier">
        </a>
    </div>
</nav>

<!-- SECOND MENU (DISPLAYED ON SCROLLING) -->

<nav class="row container-fluid justify-content-between align-items-center main-menu second-menu">
    <link rel="stylesheet" href="{{asset('web/css/mainMenu-style.css')}}">

    <a class="menu-logo" href="{{path('shop.home.index')}}">
        <img src="{{asset('web/img/menu/logo.png')}}" alt="Logo BBB">
    </a>

    <ul class="navbar">
        {% for element in menu  %}
            <li class="nav-item menu-item">
                <a class="nav-link {{ app.request.get('routeName') == element.route ? 'active' }}"
                href="{{path(element.route)}}"
                >{{element.label}}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="row user-link user-box">
        <a class="nav-link burger" hidden><img class="burger-btn" src="{{asset('web/img/menu/burger-opened.svg')}}"  alt="Boutton d'ouverture du menu"></a>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="row justify-content-between user-item" href="{{path('user_panel')}}">
                    <img src="{{ asset('web/img/menu/user.svg') }}" alt="Espace membre">                   
                </a>
        {% else %}
                <a class="row justify-content-between user-item btn-pop-up">
                    <img src="{{ asset('web/img/menu/user.svg') }}" alt="Espace membre">
                </a>
        {% endif %}
        <a class="row justify-content-between user-item" href="#">
            <img src="{{ asset('web/img/menu/cart.svg') }}" alt="Panier">
        </a>
    </div>
</nav>

<style>
    .menu-item{
        list-style: none;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{asset('web/js/menu-burger.js')}}"></script>

<script>
    $(document).ready(function(){

        $(window).scroll(function(){
            var currentHeight = $(window).scroll(function(){}).scrollTop();
            
            $('.main-menu').css({'background':'linear-gradient(#FFF, rgba(255,255,255,' + currentHeight * 0.010 + '))','opacity': 1 - currentHeight * 0.015});
            
            $('.second-menu').css('opacity',currentHeight * 0.005);
        });
    });
    

        $('.burger').click(function(){

            if($('.burger').hasClass('closed')){

                $('.burger-btn').attr('src',"{{asset('web/img/menu/burger-closed.svg')}}");

            }
            else{

                $('.burger-btn').attr('src',"{{asset('web/img/menu/burger-opened.svg')}}");

            }
        });

    
</script>
