{% extends 'base.html.twig' %}

{% block title %}NailProject - Accueil{% endblock %}
{% block more_style %}<link rel="stylesheet" href="{{asset('web/css/index-style.css')}}"/>{% endblock %}  

{% block headerText %}

<img class="hashtag-bbb img-fluid" src="{{asset('web/img/index/hashtag.png')}}" alt="Hashtag Bon Beau Bien">

    <div class="row text-header align-items-center justify-content-center">
        <p>Le vernis des des femmes qui s'engagent</p>
    </div>

{% endblock %}

{% block body %}
<section class="d-flex flex-wrap column" > <!-- Our Products -->

    <h2 class="section-title ancre" id="ancre1">Notre couleur de la saison</h2>
    <div class="row d-flex flex-nowrap">
        <a class="parallax0 parallax" href="#">
            <img class="product-element-image element-image" src="{{asset('/uploads/images/products/' ~ product.image1)}}" alt="{{product.description}}">

            <div class="element-info column align-items-center">
                <h4 class="element-title">{{product.name}}</h4>
                <p class="element-price">{{product.price}} &#128;</p>
            </div>   

        </a>
        <div class="align-self-center">
            <p class="p-bold product-description-bold">Restez belles et naturelles tout au long de l’automne, avec nos vernis fabriqués avec plus de 80% de matières premières d’origine naturelle et végétale.</p>
            <p class="product-description-light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
            <a class="btn-bbb see-more-products"><p class="btn-text">Voir plus de produits</p></a>
        </div>
    </div>

</section> <!-- Our Products -->

<section> <!-- Our Packs -->
    <h2 class="section-title ancre" id="ancre2">Nos Offres</h2>
    <div class="d-flex row justify-content-between">
        {% for offer in offers %} 

            <a class="{{ 'parallax' ~ loop.index0 }} parallax col-lg-5 col-md-12 col-sm-12 col-12" href="#">
                
                <img class="element-image img-fluid" src="{{asset('/uploads/images/packOffers/' ~ offer.image1)}}" alt="{{offer.description}}">

                <div class="element-info column align-items-center">
                    <h4 class="element-title">{{offer.name}}</h4>
                    {% for product in offer.products  %}
                        <a class="element-price offer-products">Notre {{product.name}}</a>
                    {% endfor %}
                    <p class="element-price">{{offer.price}} &#128;</p>
                </div>
                
            </a>

        {% endfor %}
    </div>
</section> <!-- Our Packs -->

<section> <!-- Our Subscription -->

    <h2 class="section-title ancre" id="ancre3">Événements</h2>
    {% if event is null %}
        <p>Nous n'avons aucun événement futur pour l'instant, abonnez-vous à notre Newsletter pour recevoir les dates dès leurs publications !</p>
    {% else %}
    <div class="event-element d-flex d-table-row">
        <a href="#">Share button</a>
        <div class="d-flex row">
            <div class="map"></div>
            <p>{{ event.annoncement }}</p>
            <a class="btn-nailproject" href="#">s'inscrire</a>
        </div>
    </div>
    {% endif %}

</section> <!-- Our Subscription -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{asset('web/js/home-anime.js')}}"></script>


{% endblock %}
