{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block more_style %}<link rel="stylesheet" href="{{asset('web/css/product-style.css')}}"/>{% endblock %}  

{% block headerText %}
    <div class="d-flex text-header justify-content-center align-items-center">
        <p>Nos produits</p>
    </div>
{% endblock %}

{% block body %}
    <p class="product-number-displayer"><span class="product-number">6</span> PRODUITS</p>

    <form action="" method="GET" class="product-filter">
        <select id="product-list-filter">
            <option value="polish">Vernis</option>
            <option value="coat">Coat</option>
        </select>
    </form>
    <div class="d-flex row justify-content-between">
    {% for product in products  %}
        <div class="product-element">
            <div class="product-image-container"><img class="mx-auto img-fluid" src="" alt="{{product.description}}"></div>
            <p class="product-type">{{product.id}}</p>
            <p class="product-name">{{product.name}}</p>
            <p class="product-price">{{product.price}} &#128;</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}