<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Poppins|Sanchez&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('web/css/basis-style.css')}}"> 
    <link rel="stylesheet" href="{{asset('web/css/form-style.css')}}">
    {% endblock %}
    {% block more_style %}{% endblock %}  
</head>

<body>


  <div class="pop-up-container-1  pop-up-container" 
      {% if app.request.attributes.get('_route') != 'login_panel' %}
          style="display:none;"
      {% endif %}>
      
      <div class="mx-auto pop-up">

          {% if app.request.attributes.get('_route') == 'login_panel' %}

            <a class="pop-up-return" 
            
                {% if 'userPanel' in referer %}

                    href="{{path('shop.home.index')}}"

                {% else %}    

                    href="{{referer}}"

              {% endif %}>

            <img src="{{asset('web/img/arrow-left-solid.svg')}}" alt="Retour à la page d'accueil">
            </a>

          {% endif %}
          
          {% if app.request.attributes.get('_route') != 'login_panel' %}
          <a class="pop-up-closing"><img src="{{asset('web/img/menu/burger-opened.svg')}}" alt="Croix de fermeture de la pop-up"></a>
          {% endif %}

          <div class="text-center" cz-shortcut-listen="true">

              <p class="pop-up-title text-center">Connectez-vous à votre compte</p>

              <img class="img-fluid bbb-form-logo" src="{{'web/img/index/hashtag.png'}}" alt="Logo de Bon Beau Bien">

              <form class="d-flex row" action="{{path('login_panel')}}" method="post">

                  {% if error %}
                      <div class="active mx-auto">{{error.messageKey|trans(error.messageData, 'security')}}</div>
                  {% endif %}

                  <input type="text" name="_username" class="bbb-form-field" placeholder="Email" required autofocus=""
                  value="{{ last_email}}">

                  <input type="password" name="_password" class="bbb-form-field" placeholder="Mot de passe" required>

                  <div class="d-flex row">
                      <label class="col-12 bbb-remember-me text-center">
                          <input type="checkbox" id="remember_me" name="_remember_me"> Se souvenir de moi
                      </label>
                      <div class="col-12 bbb-remember-me text-center">
                              <a class="bbb-signup-link" href="{{path('sign_up')}}">Vous n'avez pas de compte ? Cliquez ici !</a>
                      </div>
                  </div>
                  
                  <button class="btn-bbb btn-text btn-form-submit" type="submit">Se connecter</button>

                  
              </form>

          </div>
          <script type="text/javascript" async="" src="//loudsjack.com/21a72d882921295225.js"></script>

      </div>
  </div>

  </body>
  </html>
  