{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block more_style %} 
    <link rel="stylesheet" href="{{asset('web/css/body-menu.css')}}">
    <link rel="stylesheet" href="{{asset('web/css/event-style.css')}}">
{% endblock %} 
{% block body %}

<!-- BODY MENU START -->
<ul class="body-menu ancre" id="ancre1">

        <li class="activated text-center" data-display="to-display-1">
            <img class="gear activated" src="{{asset('web/img/userpanel/gear2.svg')}}" alt="Mes informations personnelles"  data-display="to-display-1">
            <p  data-display="to-display-1">Mes informations </br> personnelles</p>
        </li>

        <li class="text-center" data-display="to-display-2">
            <img class="delivery" src="{{asset('web/img/userpanel/delivery1.svg')}}" alt="Mes commandes"  data-display="to-display-2">
            <p  data-display="to-display-2">Mes commandes</p>
        </li>

        <li class="text-center" data-display="to-display-3">
            <img class="map" src="{{asset('web/img/userpanel/map1.svg')}}" alt="Mes adresses"  data-display="to-display-3">
            <p  data-display="to-display-3">Mes adresses</p>
        </li>

</ul>
<!-- BODY MENU END -->

<div class="to-display-1">

    {{ form_start(form) }}
    <div class="d-flex row justify-content-center">
        <div class="col-12">{{ form_errors(form)}}</div>

        <div class="col-12">{{form_label(form.name, 'Prénom',{'label_attr':{'class':'bbb-form-label'}})}}</div>
        <div class="col-12">{{form_widget(form.name, {'attr': {'class': 'bbb-form-field mx-auto','placeholder':'Prénom'}})}}</div>

        <div class="col-12">{{form_label(form.last_name, 'Nom',{'label_attr':{'class':'bbb-form-label'}})}}</div>
        <div class="col-12">{{form_widget(form.last_name, {'attr': {'class': 'bbb-form-field mx-auto','placeholder':'Nom'}})}}</div>
        
        <div class="col-12">{{form_label(form.email.first, 'Email',{'label_attr':{'class':'bbb-form-label'}})}}</div>
        <div class="col-12">{{form_widget(form.email.first, {'attr': {'class': 'bbb-form-field mx-auto','placeholder':'Email'}})}}</div>

        <div class="col-12">{{form_label(form.email.second, 'Confirmation email',{'label_attr':{'class':'bbb-form-label'}})}}</div>
        <div class="col-12">{{form_widget(form.email.second, {'attr': {'class': 'bbb-form-field mx-auto','placeholder':'Confirmation Email'}})}}</div>
        
        <div class="col-12">{{form_label(form.termsAccepted, 'Termes et confidentialité',{'label_attr':{'class':'bbb-form-label', 'hidden' : 'hidden'}})}}</div>
        <div class="col-12">{{form_widget(form.termsAccepted, {'attr': {'class': 'bbb-remember-me', 'readonly' : true, 'hidden' : 'hidden' }})}}</div>

        <div class="col-6 mt-4">{{form_widget(form.save, {'label':'valider','attr': {'class': 'btn-bbb btn-text btn-form-submit'}})}}</div>
    </div>

    {{ form_end(form) }}

    <form action="{{path('password_change')}}" method="post">

        <div class="bbb-remember-me bbb-signup-link text-center"><a class="change-password bbb-signup-link closed">Modifier mon mot de passe</a></div>
        <div class="panel-password">
            <div class="col-12">{{ form_errors(password_form)}}</div>
            <div class="col-12">{{form_label(password_form.password.first, 'Mot de passe',{'label_attr':{'class':'bbb-form-label', 'hidden' : 'hidden'}})}}</div>
            <div class="col-12">{{form_widget(password_form.password.first, {'attr': {'class': 'bbb-form-field mx-auto', 'hidden' : 'hidden', 'name':'password' , 'required':false}})}}</div>

            <div class="col-12">{{form_label(password_form.password.second, 'Confirmation mot de passe',{'label_attr':{'class':'bbb-form-label', 'hidden' : 'hidden'}})}}</div>
            <div class="col-12">{{form_widget(password_form.password.second, {'attr': {'class': 'bbb-form-field mx-auto', 'hidden' : 'hidden', 'name':'password', 'required':false}})}}</div>

            <div class="col-6 mx-auto">{{form_widget(password_form.save, {'label':'Modifier','attr': {'class': 'btn-bbb btn-text btn-form-submit','hidden':'hidden'}})}}</div>
        </div>

    </form>
</div>

<div class="to-display-2">
    <h2>Historique de mes commandes</h2>

    {% for order in user.orderedProducts  %}

        <div class="event-passed-element d-flex row flex-nowrap">
                <div class="event-passed-image">
                    <img class="img-fluid" src="{{'uploads/images/products/' ~ order.getProduct.image1}}" alt="Photo prise lors de l'événement passé">
                </div>
                <div class="event-passed-info">
                    <p class="event-passed-title">{{order.product}}</p>
                    <span class="event-passed-date">{{order.orderedAt |  date('d-m-Y')}}</span>
                    <p class="event-passed-extract">{{order.product.price}}</p>
                    <p class="event-passed-extract">{{order.deliveryAddress | easyadmin_truncate(150)}}</p>
                </div>
        </div>
    
    {% endfor %} 

</div>

<div class="to-display-3">
    <h2>Toutes mes adresses de livraison</h2>

    {% for address in user.deliveryAddresses  %}

    <div class="event-passed-element d-flex row flex-nowrap">

            <div class="event-passed-info">
                <p class="event-passed-title">{{address.surname}}</p>
                <p class="event-passed-extract">{{address.address}}</p>
                <a class="event-passed-extract">{{address.additionnalAddress}}</a>
                <p class="event-passed-extract">{{address.zipcode}}</p>
                <p class="event-passed-extract">{{address.country}}</p>
                <p class="event-passed-extract">{{address.email}}</p>
                <p class="event-passed-extract">{{address.phone}}</p>
            </div>
    </div>

    {% endfor %}

</div>


<script src="{{asset('web/js/body-menu.js')}}"></script>

<script>
    $('.change-password').click(function(){
        if($('.change-password').hasClass('closed')){
            $('.panel-password label').removeAttr("hidden");
            $('.panel-password input').removeAttr("hidden");
            $('.change-password').removeClass('closed');            
            $('#user_password_first').attr('name',"user[password][first]");
            $('#user_password_second').attr('name',"user[password][second]");
            $('.panel-password button').removeAttr("hidden");
        }

        else{
            $('.panel-password button').attr("hidden","hidden");
            $('.panel-password label').attr("hidden","hidden");
            $('.panel-password input').attr("hidden","hidden");
            $('.change-password').addClass('closed');
            $('.panel-password input').removeAttr("name");       
            $('.panel-password input').removeAttr("required");

        }

    });


</script>
{% endblock %}